
  .root {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    border: solid 5px #000;
    border-bottom-right-radius: 150px 50px;
    border-bottom-left-radius: 150px 50px;
}
.scroll {
    color: white;
    text-align: center;
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 600;
    max-width: 20rem;
}
.holocron {
    width: 200px;
    height: 200px
}
@media only screen and (min-width : 768px) {

    .root {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: black;
        border: solid 5px #000;
        border-bottom-right-radius: 150px 50px;
        border-bottom-left-radius: 150px 50px;
    }
    .scroll {
        color: white;
        text-align: center;
        font-size: 3.75rem;
        line-height: 1.25;
        max-width: 28rem;
        margin-right: 3rem;
        font-weight: 700;
    }
    .holocron {
        width: 300px;
        height: 300px
    }
}


